<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/nav.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
            <img src="https://play-lh.googleusercontent.com/K90jDcHCdKOsU-fy9kC7kPfiLpUcWn3eCPpa3meKCEW_5Zfd8SrQC3F1Q-qRLlYYwNU=w600-h300-pc0xffffff-pd" alt="" class="logo">
        </a>
        <button class="navbar-toggler" type="button" onclick="hamburgerToggle()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="ml-auto">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="ml-auto">
                    <a class="nav-link" href="blog.html">Add Project</a>
                </li>
                <li class="ml-auto">
                    <a class="nav-link" href="testimonial.html">Testimonial</a>
                </li>
            </ul>
            <div class="ml-auto">
                <a class="nav-link" href="contact.html">Contact Me</a>
            </div>
        </div>
    </nav>

    <div id="hamburger-container" class="hamburger-container hide">
        <h1 class="hamburger-container-item"><a href="index.html">Home</a></h1>
        <h1 class="hamburger-container-item"><a href="blog.html">My Project</a></h1>
        <h1 class="hamburger-container-item"><a href="testimonial.html">Testimonial</a></h1>
        <h1 class="hamburger-container-item"><a href="contact.html">Contact Me</a></h1>
    </div>
    <div class="blog-detail-container" style="max-width: 800px; margin: auto; padding: 20px;">
        <h1>My Personal Web</h1>
        <img src="https://cdn.logojoy.com/wp-content/uploads/2018/07/30103421/personal18.png" alt="Blog Image" style="width: 100%; height: 350px">
        <p>Selamat datang di Personal Web saya, Semoga anda suka dengan hasil artikel yang saya buat :)</p>
        
        <h2>Maaseya Sardin</h2>
        <p align="justify">Phasellus egestas tellus rutrum tellus pellentesque. Amet est placerat in egestas erat imperdiet. Eget est lorem ipsum dolor sit amet. Nunc sed velit dignissim sodales ut eu sem integer vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi blanditiis quae mollitia beatae ipsa, sed eligendi enim saepe nihil quasi voluptatibus omnis nemo voluptatem, asperiores, ex aperiam aut facilis! Sit.
        Unde sequi officiis, vel, omnis debitis nemo reiciendis eveniet velit vero harum, perspiciatis amet deleniti sed est. Voluptatibus perspiciatis repudiandae libero consequuntur provident fugiat! Iste porro modi aliquid alias tempore.
        Alias, hic. Animi fugiat recusandae eius! Exercitationem debitis omnis commodi quibusdam, maiores quis nostrum soluta dignissimos illum natus dolorum! Quis natus esse nobis. Voluptatum dignissimos amet vel ipsa consequatur necessitatibus!
        Hic eius doloribus possimus accusamus, sed architecto, illo odit sapiente alias, ab aperiam? Cupiditate consequatur at facilis corrupti corporis recusandae a non voluptatibus ipsum! Totam ducimus iste officia blanditiis magnam!
        Magnam ut assumenda reprehenderit id quam quos asperiores veritatis voluptas. Consectetur voluptas explicabo consequatur aliquam et natus praesentium harum quasi ut quis eos, ad sunt iste. Nisi sapiente earum animi.
        Soluta cupiditate assumenda nemo doloribus. Ab suscipit natus unde iste quis nesciunt est animi fugit aliquam adipisci doloribus cumque veritatis molestias recusandae placeat debitis, quisquam omnis sit, quaerat, at ducimus.
        Unde vero adipisci est totam consequuntur. Sapiente velit quos minima et culpa facere repudiandae voluptates possimus soluta! Harum aut vel dicta, sequi hic qui molestias labore veniam quia quas architecto?
        Molestiae veritatis neque fugiat pariatur quisquam, asperiores harum sint quasi deserunt molestias illo. Voluptatibus commodi aperiam, cum debitis amet, unde, aut doloremque nulla magni neque soluta delectus sapiente facere modi.
        Modi beatae vero, vitae, eveniet quibusdam dolore amet, quam perspiciatis nisi accusamus in natus eos et omnis consectetur obcaecati quisquam iusto mollitia id quod sequi. Harum magni aspernatur veritatis officia.
        Voluptatem rerum repellat autem provident tempora eaque dignissimos. Omnis id quis veritatis repellendus, voluptas voluptates sunt laborum obcaecati nihil perspiciatis velit totam quidem, unde blanditiis officia, eos quod molestias deleniti.</p>
    </div>
    <script src="assets/js/nav.js"></script>
</body>
</html>