.container {
    padding: 50px 0;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.testimonial {
    width: 25%;
    margin: 0px 15px 30px 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.testimonial img {
    height: 200px;
    object-fit: cover;
}

.quote {
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 20px;
}

.author {
    font-weight: bold;
    text-align: right;
}

.profile-testimonial {
    width: 100%;
}

.container-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-btn {
    font-size: 18px;
    font-weight: bold;
    background-color: #111727; 
    color: white; 
    cursor: pointer;
    margin: 5px;
}

.rating-btn:hover {
    background-color: #3b5998;
}

.rating-btn.active {
    font-size: 20px; 
    background-color: #3b5998; 
    color: white;
}

@media only screen and (max-width: 900px) {
    .testimonial {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .testimonial {
        width: 100%;
    }
}